<div>
  <label>Imię i nazwisko:</label>
  <input type="text" [(ngModel)]="name" name="name" (keydown)="onNameKeyDown($event)">
</div>
<div>
  <label>Numer telefonu:</label>
  <div>
    <select [(ngModel)]="selectedCountryCode">
      <option *ngFor="let country of countryCodes" [value]="country.code">{{ country.name }} (+{{ country.code }})</option>
    </select>
    <input type="text" [(ngModel)]="phoneNumber" name="phoneNumber" pattern="[0-9]*" maxlength="9" (keydown)="onPhoneNumberKeyDown($event)">
  </div>
</div>
<button (click)="addToContacts()">Dodaj do kontaktów</button>

<ul>
  <li *ngFor="let contact of contacts">
    {{ contact.name }} - {{ contact.countryCode }} {{ contact.phoneNumber }}
  </li>
</ul>
